# Artificial Neural Network

### Importing the libraries

In [4]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [5]:
# conda install -c anaconda pandas

In [6]:
tf.__version__

'2.10.1'

## Part 1 - Data Preprocessing

### Importing the dataset

In [8]:
dataset = pd.read_csv(r"C:\Users\Parimal\Downloads\Brain Stroke.csv")
# X = dataset.iloc[:, 3:-1].values
# y = dataset.iloc[:, -1].values

In [9]:
dataset

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,Male,41.0,0,0,No,Private,Rural,70.15,29.8,formerly smoked,0
4977,Male,40.0,0,0,Yes,Private,Urban,191.15,31.1,smokes,0
4978,Female,45.0,1,0,Yes,Govt_job,Rural,95.02,31.8,smokes,0
4979,Male,40.0,0,0,Yes,Private,Rural,83.94,30.0,smokes,0
4980,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   object
 5   work_type          4981 non-null   object
 6   Residence_type     4981 non-null   object
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   object
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 428.2+ KB

In [11]:
dataset.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [12]:
dataset.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

### Encoding categorical data

Label Encoding the "Gender" column

In [13]:
'''
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset["gender"] = le.fit_transform(dataset["gender"])
dataset["ever_married"] = le.fit_transform(dataset["ever_married"])
dataset["work_type"] = le.fit_transform(dataset["work_type"])
dataset["Residence_type"] = le.fit_transform(dataset["Residence_type"])
dataset["smoking_status"] = le.fit_transform(dataset["smoking_status"])
'''

In [14]:
from sklearn.preprocessing import LabelEncoder
lr=LabelEncoder()

In [16]:
dataset[['gender', 'ever_married','work_type','Residence_type','smoking_status']] = dataset[['gender', 'ever_married','work_type','Residence_type','smoking_status']].apply(lr.fit_transform)

In [17]:
dataset

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,1,1,228.69,36.6,1,1
1,1,80.0,0,1,1,1,0,105.92,32.5,2,1
2,0,49.0,0,0,1,1,1,171.23,34.4,3,1
3,0,79.0,1,0,1,2,0,174.12,24.0,2,1
4,1,81.0,0,0,1,1,1,186.21,29.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,1,41.0,0,0,0,1,0,70.15,29.8,1,0
4977,1,40.0,0,0,1,1,1,191.15,31.1,3,0
4978,0,45.0,1,0,1,0,0,95.02,31.8,3,0
4979,1,40.0,0,0,1,1,0,83.94,30.0,3,0
4980,0,80.0,1,0,1,1,1,83.75,29.1,2,0

One Hot Encoding the "Geography" column

In [15]:
# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import OneHotEncoder
# ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
# X = np.array(ct.fit_transform(X))

In [18]:
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [19]:
dataset.corr()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
gender,1.000000,-0.026538,0.021485,0.086476,-0.028971,0.065784,-0.004301,0.055796,-0.012093,-0.062666,0.008870
age,-0.026538,1.000000,0.278120,0.264852,0.677137,-0.415935,0.017155,0.236763,0.373703,0.265623,0.246478
hypertension,0.021485,0.278120,1.000000,0.111974,0.164534,-0.061618,-0.004755,0.170028,0.158762,0.110045,0.131965
heart_disease,0.086476,0.264852,0.111974,1.000000,0.114765,-0.036943,0.002125,0.166847,0.060926,0.048093,0.134610
ever_married,-0.028971,0.677137,0.164534,0.114765,1.000000,-0.406439,0.008191,0.150724,0.371690,0.262384,0.108398
work_type,0.065784,-0.415935,-0.061618,-0.036943,-0.406439,1.000000,-0.003524,-0.059658,-0.382418,-0.356738,-0.041835
Residence_type,-0.004301,0.017155,-0.004755,0.002125,0.008191,-0.003524,1.000000,0.001346,0.013185,0.010209,0.016494
avg_glucose_level,0.055796,0.236763,0.170028,0.166847,0.150724,-0.059658,0.001346,1.000000,0.186348,0.064089,0.133227
bmi,-0.012093,0.373703,0.158762,0.060926,0.371690,-0.382418,0.013185,0.186348,1.000000,0.243111,0.056926
smoking_status,-0.062666,0.265623,0.110045,0.048093,0.262384,-0.356738,0.010209,0.064089,0.243111,1.000000,0.027463
stroke,0.008870,0.246478,0.131965,0.134610,0.108398,-0.041835,0.016494,0.133227,0.056926,0.027463,1.000000

In [20]:
dataset.describe()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
count,4981.000000,4981.000000,4981.000000,4981.000000,4981.000000,4981.000000,4981.000000,4981.000000,4981.000000,4981.000000,4981.000000
mean,0.416382,43.419859,0.096165,0.055210,0.658502,1.302349,0.508332,105.943562,28.498173,1.379442,0.049789
std,0.493008,22.662755,0.294848,0.228412,0.474260,0.860170,0.499981,45.075373,6.790464,1.072180,0.217531
min,0.000000,0.080000,0.000000,0.000000,0.000000,0.000000,0.000000,55.120000,14.000000,0.000000,0.000000
25%,0.000000,25.000000,0.000000,0.000000,0.000000,1.000000,0.000000,77.230000,23.700000,0.000000,0.000000
50%,0.000000,45.000000,0.000000,0.000000,1.000000,1.000000,1.000000,91.850000,28.100000,2.000000,0.000000
75%,1.000000,61.000000,0.000000,0.000000,1.000000,2.000000,1.000000,113.860000,32.600000,2.000000,0.000000
max,1.000000,82.000000,1.000000,1.000000,1.000000,3.000000,1.000000,271.740000,48.900000,3.000000,1.000000

### Splitting the dataset into the Training set and Test set

In [21]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 11)

### Feature Scaling

In [20]:
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)

## Part 2 - Building the ANN

### Initializing the ANN

In [23]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [24]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [25]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

In [26]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [27]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [28]:
ann.fit(x_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
125/125 [==============================] - 1s 3ms/step - loss: 15.2761 - accuracy: 0.0477
Epoch 2/100
125/125 [==============================] - 0s 2ms/step - loss: 1.7990 - accuracy: 0.4639
Epoch 3/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2390 - accuracy: 0.9523
Epoch 4/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2285 - accuracy: 0.9523
Epoch 5/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2275 - accuracy: 0.9523
Epoch 6/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2268 - accuracy: 0.9523
Epoch 7/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2260 - accuracy: 0.9523
Epoch 8/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2252 - accuracy: 0.9523
Epoch 9/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2243 - accuracy: 0.9523
Epoch 10/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2234 - accuracy: 0.9523
Epoch 11/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2226 - accuracy: 0.9523
Epoch 12/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2213 - accuracy: 0.9523
Epoch 13/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2206 - accuracy: 0.9523
Epoch 14/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2190 - accuracy: 0.9523
Epoch 15/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2180 - accuracy: 0.9523
Epoch 16/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2167 - accuracy: 0.9523
Epoch 17/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2156 - accuracy: 0.9523
Epoch 18/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2139 - accuracy: 0.9523
Epoch 19/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2127 - accuracy: 0.9523
Epoch 20/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2103 - accuracy: 0.9523
Epoch 21/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2087 - accuracy: 0.9523
Epoch 22/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2075 - accuracy: 0.9523
Epoch 23/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2054 - accuracy: 0.9523
Epoch 24/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2035 - accuracy: 0.9523
Epoch 25/100
125/125 [==============================] - 0s 2ms/step - loss: 0.2013 - accuracy: 0.9523
Epoch 26/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1997 - accuracy: 0.9523
Epoch 27/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1970 - accuracy: 0.9523
Epoch 28/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1948 - accuracy: 0.9523
Epoch 29/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1920 - accuracy: 0.9523
Epoch 30/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1897 - accuracy: 0.9523
Epoch 31/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1872 - accuracy: 0.9523
Epoch 32/100
125/125 [==============================] - 0s 3ms/step - loss: 0.1841 - accuracy: 0.9523
Epoch 33/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1821 - accuracy: 0.9523
Epoch 34/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1799 - accuracy: 0.9523
Epoch 35/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1777 - accuracy: 0.9518
Epoch 36/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1771 - accuracy: 0.9521
Epoch 37/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1754 - accuracy: 0.9523
Epoch 38/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1742 - accuracy: 0.9518
Epoch 39/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1729 - accuracy: 0.9518
Epoch 40/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1724 - accuracy: 0.9518
Epoch 41/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1731 - accuracy: 0.9523
Epoch 42/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1712 - accuracy: 0.9518
Epoch 43/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1698 - accuracy: 0.9521
Epoch 44/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1698 - accuracy: 0.9518
Epoch 45/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1697 - accuracy: 0.9511
Epoch 46/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1702 - accuracy: 0.9516
Epoch 47/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1690 - accuracy: 0.9521
Epoch 48/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1685 - accuracy: 0.9523
Epoch 49/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1680 - accuracy: 0.9516
Epoch 50/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1680 - accuracy: 0.9513
Epoch 51/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1670 - accuracy: 0.9513
Epoch 52/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1671 - accuracy: 0.9513
Epoch 53/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1672 - accuracy: 0.9516
Epoch 54/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1665 - accuracy: 0.9516
Epoch 55/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1662 - accuracy: 0.9518
Epoch 56/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1675 - accuracy: 0.9513
Epoch 57/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1660 - accuracy: 0.9511
Epoch 58/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1658 - accuracy: 0.9521
Epoch 59/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1668 - accuracy: 0.9516
Epoch 60/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1660 - accuracy: 0.9526
Epoch 61/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1640 - accuracy: 0.9521
Epoch 62/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1654 - accuracy: 0.9518
Epoch 63/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1647 - accuracy: 0.9508
Epoch 64/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1644 - accuracy: 0.9513
Epoch 65/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1641 - accuracy: 0.9516
Epoch 66/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1641 - accuracy: 0.9516
Epoch 67/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1633 - accuracy: 0.9508
Epoch 68/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1646 - accuracy: 0.9516
Epoch 69/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1631 - accuracy: 0.9521
Epoch 70/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1633 - accuracy: 0.9508
Epoch 71/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1638 - accuracy: 0.9523
Epoch 72/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1619 - accuracy: 0.9521
Epoch 73/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1629 - accuracy: 0.9513
Epoch 74/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1629 - accuracy: 0.9518
Epoch 75/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1629 - accuracy: 0.9516
Epoch 76/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1621 - accuracy: 0.9518
Epoch 77/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1615 - accuracy: 0.9523
Epoch 78/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1624 - accuracy: 0.9518
Epoch 79/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1616 - accuracy: 0.9523
Epoch 80/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1635 - accuracy: 0.9521
Epoch 81/100

125/125 [==============================] - 0s 2ms/step - loss: 0.1621 - accuracy: 0.9523
Epoch 82/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1630 - accuracy: 0.9518
Epoch 83/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1622 - accuracy: 0.9521
Epoch 84/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1602 - accuracy: 0.9518
Epoch 85/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1608 - accuracy: 0.9523
Epoch 86/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1600 - accuracy: 0.9518
Epoch 87/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1612 - accuracy: 0.9526
Epoch 88/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1605 - accuracy: 0.9521
Epoch 89/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1610 - accuracy: 0.9513
Epoch 90/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1604 - accuracy: 0.9518
Epoch 91/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1596 - accuracy: 0.9521
Epoch 92/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1602 - accuracy: 0.9513
Epoch 93/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1600 - accuracy: 0.9521
Epoch 94/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1596 - accuracy: 0.9521
Epoch 95/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1600 - accuracy: 0.9518
Epoch 96/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1590 - accuracy: 0.9521
Epoch 97/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1592 - accuracy: 0.9523
Epoch 98/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1587 - accuracy: 0.9526
Epoch 99/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1579 - accuracy: 0.9518
Epoch 100/100
125/125 [==============================] - 0s 2ms/step - loss: 0.1585 - accuracy: 0.9531

In [ ]:
pip install tensorflow

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

**Homework**

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer ?

**Solution**

In [18]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

### Predicting the Test set results

In [19]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [20]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1516   79]
 [ 200  205]]

0.8605